<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <p>動画分割</p>

    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="button" onclick="clicBtn()">分割する</button><br/>
    </form>
    
    <form action="{% url  'index' %}">
      <input id = 'next' type="submit" value="トップページ"/>
    </form>

    <script>
        function clickBtn() {
          var  = document.getElementById(video_path).value;

          $.ajax({
            url: "{% url 'app:call_cut_video' %}",
            method: 'POST',
            data: {"input_data": },
            dataType: "text",
            contentType: "application/json"
          }
      </script>
    
  </body>
  </html>