{% extends 'app/base.html' %}

{% block content %}
    
<h1 class="top">トップページ</h1>

<div class="index">
    <div class="link">
        <a href="{% url  'app:player' %}">結果動画画面</a>
    </div>
    
    <!--
    <div class="link">
        <a href="{% url  'app:upload' %}">動画アップロード</a>
    </div>
    <div class="link">
        <a href="{% url  'app:upload_image' %}">画像アップロード</a>
    </div>

    <div class="link">
        <a href="{% url 'app:file_list' %}">動画分割</a>
    </div>
    <div class="link">
        <a href="{% url  'app:result' %}">結果動画画面</a>
    </div>
    -->

    <div class="link">
        <a href="{% url  'app:upload_label' %}">ラベル情報アップロード</a>
    </div>
</div>
{% endblock %}
