{% extends 'app/base.html' %}

{% block content %}
<h1>ラベル情報</h1>
    <table border="1">
        <tr>
            <th>sec</th>
            <th>man</th>
            <th>pc_char</th>
            <th>white_board</th>
            <th>char_red</th>
            <th>char_yellow</th>
            <th>human_char</th>
        </tr>
        {% for Label_info in data %}
        <tr>
            <td>{{ Label_info.sec }}</td>
            <td>{{ Label_info.man }}</td>
            <td>{{ Label_info.pc_char }}</td>
            <td>{{ Label_info.white_board }}</td>
            <td>{{ Label_info.char_red }}</td>
            <td>{{ Label_info.char_yellow }}</td>
            <td>{{ Label_info.human_char }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}