{% extends 'app/base.html' %}

{% block content %}
    <div class="player">
        <div class="video">
            <!--動画再生部分-->
            <video id="video" height="480" controls></video><br/>
            <!--動画ファイルを選択する-->
            <p>ファイルを選択して下さい<br/></p>
            <input type="file" id="filename" value="ファイル読み込み"/><br/>
            <!--再生位置の表示-->
            再生位置  :<span id="position">-</span><br/>
            </div>

            <div class="label">
                <canvas id="ex_chart"></canvas>
            </div>

            <div class="video_link">
                <a href="{% url  'app:index' %}">トップページ</a>
            </div>
    </div>

        <script>

            //選択された動画ファイルを再生する
            function init(){
                var f = document.getElementById("filename");
                f.addEventListener( "change", function (event) {
                    var URL = URL || webkitURL;
                    var file = event.target.files[0];
                    document.querySelector('video').src = URL.createObjectURL(file);
                    document.getElementById('filename').innerHTML = document.querySelector('video').src;
                }, false );
                //動画の現在の再生位置を表示する
                    var v = document.getElementById("video");
                    v.addEventListener("timeupdate", function(){
                    document.getElementById("position").innerHTML = v.currentTime;
                }, false);
            }
    
            init()

            //ラベルバーの生成
            var ctx = document.getElementById('ex_chart');

            var data = {
                labels: ["man", "pc_chara", "white_board", "chara_red", "chara_yellow", "human_chara"],
                datasets: [{
                    data:[20, 20, 30, 40, 30, 40, 60],
                    backgraoundColor: "rgba(255, 100, 100, 1)"
                }]
            };

            var options = {
                scales: {
                    legend: {
                        display: false
                    },
                    xAxes: [{
                        ticks: {
                            min: 0
                        }
                    }]
                }
            };

            var ex_chart = new Chart(ctx, {
                type: 'horizontalBar',
                data: data,
                options: options
            });
            </script>
{% endblock %}

