{% extends 'app/base.html' %}

{% block content %}
    <div class="player">
        <div class="video">
            <!-- 動画プレイヤー -->
            <div class="video_player">
                <!-- 動画再生 -->
                <video id="video" width="950px" height="380px" controls></video><br/>
                <!-- 動画ファイルを選択する -->
                <p>ファイルを選択して下さい<br/></p>
                <input type="file" id="filename" value="ファイル読み込み"/><br/> 
            </div>
             <!-- プログレスバーの表示 -->
             <div style="width: 950px;">
                <!-- <progress class="input_range" min="1" max="100"  value="0" id="progress_time">-->
                <input type="range" class="input-range" min="1" max="100"  value="0" id="progress-range">
            </div>
             <!-- ラベルバーを生成する -->
             <div class="label_bar">
                <img src="{% url 'app:plot' %}" width="1215px" height="200px">
                <img src="{% url 'app:plot2' %}" width="1215px" height="200px">
             </div>
        </div>

        <div class="video_link">
            <div class="link">
                <a href="{% url  'app:index' %}">トップページ</a>
            </div>
            <div class="link">
                <a href="{% url  'app:upload_label' %}">ラベル情報アップロード</a>
            </div>
            <!--結果動画画面でラベル情報を確認するために表示
            <h2>ラベル情報</h2>
            <table border="1">
                <tr>
                    <th>sec</th>
                    <th>man</th>
                    <th>pc_char</th>
                    <th>white_board</th>
                    <th>char_red</th>
                    <th>char_yellow</th>
                    <th>human_char</th>
                </tr>
                {% for Label_Info in data %}
                <tr>
                    <td>{{ Label_Info.sec |time:"i:s" }}</td>
                    <td>{{ Label_Info.man }}</td>
                    <td>{{ Label_Info.pc_char }}</td>
                    <td>{{ Label_Info.white_board }}</td>
                    <td>{{ Label_Info.char_red }}</td>
                    <td>{{ Label_Info.char_yellow }}</td>
                    <td>{{ Label_Info.human_char }}</td>
                </tr>
                {% endfor %}
            </table>
            -->
        </div>
    </div>

        <script>
            // 動画プレイヤー
            function init(){
                var f = document.getElementById('filename');
                f.addEventListener( 'change', function (event) {
                    var URL = URL || webkitURL;
                    var file = event.target.files[0];
                    document.querySelector('video').src = URL.createObjectURL(file);
                    document.getElementById('video').innerHTML = document.querySelector('video').src;
                }, false );

                //　ビデオを取得する
                const video = $('#video').get(0);
                /*
                //プログレスバー
                var progress_time = $('#progress_time');
                var time = progress_time.attr('max')
                
                //長さを更新
                progress_time.addEventListener('timeupdate', function(e){
                    var maxTime = video.duration; // 動画全体の時間
                    var nowTime = video.currentTime; // 現在の再生時間
                    var time_progress = nowTimu / maxTime;
                    progress_time.val(time_progress * 100);
                })
                // 現在位置取得
                progress_time.on('input', function(){
                    var percent = $(this).val() / time;
                    nowTime = maxTime * percent;
                })
                
                */
               // プログレスバー
                const progress_range = $('#progress-range');
                const range_max      = progress_range.attr('max');

                 // 動画再生中 プログレスバー長さ更新
                video.addEventListener('timeupdate', function(e) {
                    const video_porgress = video.currentTime / video.duration;
                    progress_range.val(video_porgress * 100);
                });

                // プログレスバー変更中（ドラッグ中）
                progress_range.on( 'input', function () {
                    const percent     = $(this).val() / range_max;
                    video.currentTime = video.duration * percent;
                } );
                // プログレスバー変更後
                progress_range.change( function () {
                    const percent     = $(this).val() / range_max;
                    video.currentTime = video.duration * percent;
                } );
            };
    
            init()
            /*
            // ラベルバーの生成
            var ar = [
                moment("1970-01-01 00:00:21.000 +0000", "YYYY-MM-DD HH:mm:ss.SSS Z").format('x'),
                moment("1970-01-01 00:00:14.000 +0000", "YYYY-MM-DD HH:mm:ss.SSS Z").format('x'),
                moment("1970-01-01 00:00:36.000 +0000", "YYYY-MM-DD HH:mm:ss.SSS Z").format('x'),
                moment("1970-01-01 00:00:53.000 +0000", "YYYY-MM-DD HH:mm:ss.SSS Z").format('x'),
                moment("1970-01-01 00:00:47.000 +0000", "YYYY-MM-DD HH:mm:ss.SSS Z").format('x'),
                moment("1970-01-01 00:01:20.000 +0000", "YYYY-MM-DD HH:mm:ss.SSS Z").format('x')
            ];
            var ctx = document.getElementById("ex_chart").getContext("2d");
            var chart = new Chart(ctx, {
                type: "horizontalBar",
                data: {
                    labels: ["経過時間" ],
                    datasets: [{
                        label: "man",
                        data: [ar[0], ],
                        backgroundColor: "rgba(255, 0, 0, 0.8)",
                        borderWidth: 0
                    }, {
                        label: "pc_chara",
                        data: [ar[1], ],
                        backgroundColor: "rgba(0, 255, 0, 0.8)",
                        borderWidth: 0
                    }, {
                        label: "white_board",
                        data: [ar[2], ],
                        backgroundColor: "rgba(255, 153, 51, 0.8)",
                        borderWidth: 0
                    },{
                        label: "chara_red",
                        data: [ar[3], ],
                        backgroundColor: "rgba(255, 255, 0, 0.8)",
                        borderWidth: 0
                    }, {
                        label: "chara_yellow",
                        data: [ar[4], ],
                        backgroundColor: "rgba(128, 0, 128, 0.8)",
                        borderWidth: 0
                    }, {
                        label: "human_chara",
                        data: [ar[5], ],
                        backgroundColor: "rgba(0, 255, 255, 0.8)",
                        borderWidth: 0
                    } ]
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                let value = Number(tooltipItem.value);
                                let index = tooltipItem.datasetIndex;
                                let label = data.datasets[index].label;
                                let duration = moment(value, "x").format("m 分 s 秒 SSS");
                                return label + ":  " + duration;
                            }
                        },
                        position: "nearest"
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontSize: 20,
                                stepSize: 10000,
                                min: 0,
                                callback: function(label, index, labels) {
                                    let duration = moment(label, "x").format("mm:ss");
                                    return duration;
                                }
                            }
                        }],
                        yAxes: [{
                            display: false,
                            categoryPercentage: 1.1
                        }]
                    },
                }
            });
            */
            </script>
{% endblock %}