{% extends 'app/base.html' %}

{% block content %}

<h1>動画分割</h1>

    <form action="{% url  'app:index' %}">
      <input id = 'next' type="submit" value="トップページ"/>
    </form>

    <form action="{% url  'app:upload' %}">
        <input id = 'next' type="submit" value="動画アップロード"/>
    </form>

    <h1>アップロード済みファイルの一覧</h1>
        <table border="1">
          <tr>
            <th>動画ファイル</th>
            <th>分割</th>
          </tr>
          {% for uploadfile in uploadfile_list %} 
          <tr>
            <td><a href="{{ uploadfile.file.url }}" class="path" id="target">{{ uploadfile.file.url }}</a></td>
            <td><button type="button" onclick="cut()">分割する</button></td>
          </tr>
        {% endfor %}
        </table>
        
  <script>
    <!--idに連番付与-->
    $(function(){
      $('a.path').each(function(i){
        $(this).attr('id','target' + (i+1));
      });
    });

    function cut(){
      alert(document.getElementById('target1'))
    }
  </script>
{% endblock %}