{% extends 'app/base.html' %}

{% block content %}
    <h1 class="upload_title">ファイルアップロード</h1>

    <div class="upload_videos">
        <div class="upload_menu">
            <div class="upload_form">
                <a href="{% url  'app:index' %}">トップページ</a>
            </div>

            <div class="upload_form">
                <a href="{% url 'app:file_list' %}">動画分割</a>
            </div>
        
            <div class="upload_form">
                <a href="{% url  'app:result' %}">結果動画画面</a>
            </div>
        </div>

        <div class="upload_main">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="upload_btn">アップロード</button>
            </form>
        </div>
    </div>
{% endblock %}