{% extends 'app/base.html' %}

{% block content %}

<h1>動画分割</h1>

    <form action="{% url  'app:index' %}">
      <input id = 'next' type="submit" value="トップページ"/>
    </form>

    <form action="{% url  'app:upload' %}">
        <input id = 'next' type="submit" value="動画アップロード"/>
    </form>

    <h1>アップロード済みファイルの一覧</h1>

        <table border="1">
          <tr>
            <th>動画ファイル</th>
            <th>分割</th>
          </tr>
          {% for uploadfile in uploadfile_list %} 
          <tr>
            <td><a href="{{ uploadfile.file.url }}" >{{ uploadfile.file.url }}</a></td>
            <td><button type="button" >分割する</button></td>
          </tr>
        {% endfor %}
        
  <script>
    $(function(){
      //アップロード済みファイルのidに連番を付与する
      var video = $('a');
      for(var i=0; i < video.length; i++){
        video[i].setAttribute('id','video' + (i+1));
      }
    });

    $(function(){
      $("button").click(function(){
      var id = $(this).parents("tr").find("a").text();
      console.log(id);
      });
    })
  </script>
{% endblock %}