{% extends 'app/base.html' %}

{% block content %}

<h1>動画分割</h1>

    <form action="{% url  'app:index' %}">
      <input id = 'next' type="submit" value="トップページ"/>
    </form>

    <form action="{% url  'app:upload' %}">
        <input id = 'next' type="submit" value="動画アップロード"/>
    </form>

    <h1>アップロード済みファイルの一覧</h1>

        <table border="1">
          <tr>
            <th>動画ファイル</th>
            <th>分割</th>
          </tr>
          {% for uploadfile in uploadfile_list %} 
          <tr>
            <td><a href="{{ uploadfile.file.path }}" >{{ uploadfile.file.path }}</a></td>
            <td><button type="button" >分割する</button></td>
          </tr>
          {% csrf_token %}
          {% endfor %}
        </table>

  <script>
    //jQueryでCSRFトークンを付与
    function getCookie(name){
      var cookieValue = null;
      if(document.cookie && document.cookie != ''){
        var cookies = document.cookie.split(';');
        for(var i = 0; i < cookies.length; i++){
          var cookie = jQuery.trim(cookies[i]);
          if(cookie.substring(name.length + 1) = (name + '=')){
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method){
      return(/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend:function(xhr,settings){
        if(!csrfSafeMethod(settings.type) && !this.crossDomain){
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    //ボタン押下時にパスを取得し、views.pyにデータを送信する
    $(function(){
      $("button").click(function(){
      var id = $(this).parents("tr").find("a").text();
      //console.log(id)
      $.ajax({
        url: "{% url  'app:call_cuts' %}",
        type: 'POST',
        data:{"input_data": id} 
      })
      .done(function(response){
        console.log(id);
        alert('分割成功\n分割動画結果画面に遷移します')
        window.location.href = response;
        })
      .fail(function(){
        console.log('failed');
        });
      });
    });
  </script>
{% endblock %}